[Unit]
Description=IMU Socket Server

[Service]
ExecStart=/usr/local/bin/node /home/pi/TitanRover/GPS/IMU/Python_Version/IMU_UnixSockets.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RoverControl
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

