[Unit]
Description=Waypoint Startup Service

[Service]
ExecStart=/usr/local/bin/node /home/pi/TitanRover/mobility/autonomous/waypointServer.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RoverControl
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
