@import '~antd/dist/antd.css';

/* Stretching the modules vertically all the way */
html {
    height: 100vh;
}

body, #react-app, #react-app > * {
    min-height: 100vh;
    background: white;
}

.logo {
    position: absolute;
    width: 100%;
    left: 0px;
    font-size: 24px;
    text-align: center;
    background: darkorange;
    color: white;
    font-weight: bold;
    box-shadow: inset 0 0 25px orange;
    transition: ease 300ms;
    white-space: nowrap;
}

.logo:hover {
    box-shadow: inset 0 0 30px 10px #ffaf4d;
}

.ant-layout-sider-collapsed .logo {
    font-size: 18px;
}

.ant-layout-sider-collapsed .ant-menu-submenu-inline > .ant-menu-submenu-title:after {
    right: 96px;
}

#met {
    display: flex;
    color: white;
}
#met > * {
    padding: 0 5px;
}

#met .time-box > * {
    padding: 0 5px;
}

#met .time-box:before {
    content: '';
    position: absolute;
    height: 30px;
    width: 165px;
    border: 1px solid white;
    margin: 17px 0 0 -2px;
}

#met .timeBox, .controls > *{
    margin: 0 3px;
}

.module {
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.module .controls {
    margin: 7px 0;
}

.ant-tag-text {
     font-size: 14px;
     font-weight: bold;
 }

.generation-options {
    min-width: 200px;
    max-width: 900px;
}

.ant-select-selection__placeholder {
    color: darkgray;
}

.ant-select-selection__choice {
    color: white;
    background: #108ee9 !important;
}

.time-pickers {
    display: flex;
    padding-top: 20px;
}

.time-pickers > * {
    padding-bottom: 10px;
    margin: 0 100px 0 0;
}

.queryByTimerange-settings .ant-time-picker-input::-webkit-input-placeholder {
    /* setting the placeholder text color to a darker color */
    color: rgba(0, 0, 0, 0.4) !important;
}

#chart-panels .controls {
    margin: 0;
    display: flex;
    align-items: center;
}

#chart-panels .ant-layout {
    background: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
#chart-panels .ant-layout:last-child {
    margin-bottom: 0px;
}

#chart-panels .ant-layout-header {
    border-radius: 5px 5px 0 0;
}

#chart-panels .ant-layout-content {
    padding-top: 20px;
}

/* hotfix for the highlighting the current item selected after page refresh or page load*/
#navMenu .ant-menu-item > a {
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 50px;
}

#navMenu .hotfix-item-selected {
    background-color: #108ee9;
    color: white !important;
    transition: all ease 300ms;
}
#navMenu .hotfix-item-selected > * {
    color: white !important;
}

.sonic-range-value {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #108ee9;
}