h3 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    color: darkorange;
}

#nav-header {
    min-width: 250px;
    min-height: 100vh; /*might need to change when the main content has srollbars*/
    background: #242424;
    display: flex;
    flex-flow: column;
    color: white;
    flex-grow: 1;
}

#main-content {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
}

#root {
    display: flex;
}

#met {
    padding: 10px;
    width: 330px;
    border: 1px solid lightgrey;
}

#met span {
    padding-right: 5px;
    color: #086298;
}

#met .utc {
    color: black;
    font-weight: bold;
}

#met .controls {
    margin: 10px 0 0 0;

}
#met .controls button {
    padding: 2px 10px;
}
#met .controls button:last-child {
    margin-left: 10px;
}
.module {
    padding: 10px;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
}

.module .controls {
    margin-bottom: 15px;
    display: block;
}
.module .controls > *{
    display: inherit;
    margin-bottom: 10px;
}

.hidden {
    display: none !important;
}