.brand {
    background: #054970;
    box-shadow: inset 0px 3px 25px #0c72a9;
    padding: 30px;
    border-bottom:1px solid black;
}

.brand h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

ul, li {
    list-style: none;
}

.active {
    background: white !important;
    color: #054970;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: #333333;
}

nav a > span {
    padding: 10px;
    display: inherit;
}
.folderroot > span{
    margin-left: 15px;
}
.folderlinks a > span {
    margin-left: 60px;
}

.file-line {
    position: absolute;
}
.file-line:before {
    content: '';
    display: inline-block;
    border-left: 1px solid white;
    width: 1px;
    height: 36px;
    margin-top: -10px;
    margin-left: -25px;
}
.file-line:after {
    content: '';
    display: inline-block;
    border-top: 1px solid white;
    width: 15px;
    height: 1px;
    margin-bottom: 16px;
    margin-left: -1px;
}
.active .file-line:before, .active .file-line:after {
    border-color: #054970 !important;
}

.folderlinks li:last-child .file-line:before {
    height:18px;
    margin-bottom: 17px;
}