.brand {
    background: #054970;
    box-shadow: inset 0px 3px 25px #0c72a9;
    padding: 30px;
}

.brand h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

ul, li {
    list-style: none;
}

.active {
    background: white;
    color: #054970;
}

.folder ul {
    margin-left: 40px;
}

